.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    color: forestgreen;
  }
  .note{
      font-size: 16px;
      color: crimson;
      white-space: pre-line;
  }
  body{
      background-size: cover;
  }
  .playbutton{
    width: 130px;
    font-size: 25px;
    margin-top: 20px;
}
canvas{
    border:5px solid white;
    border-radius:20px;
}